.footer{
    padding: 50px;
    width: auto;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid 1px;
    border-top-color: gray;
}